.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
  grid-gap: 10px;
}
.grid-container.container-expanded{
  grid-template-columns: 1fr;
}
h4, p{
  margin: 0;
}

button, .fa{
  cursor: pointer;
}

@media(max-width: 750px){
  .grid-container{
    grid-template-columns: 1fr;
  }
}